
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

img,
video {
  height: auto;
  max-width: 100%;
}


h2 {
  padding: 10px;
  margin: 5px;

}

.download-link {
  padding: 15px;
  font-weight: bolder;
  font-size: 18px;
  color: brown;
}

p {
  padding: 5px;
}

a {
  color: brown;
  font-weight: bolder;
  font-size: 20px;
  margin 15px;
  padding 6px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-size: 24px;
}
